<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.GoodsMapper">
	<resultMap id="ShopGoodsResult" type="com.shop.model.ShopGoods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="goods_no" jdbcType="VARCHAR" property="goodsNo" />
    <result column="model_id" jdbcType="INTEGER" property="modelId" />
    <result column="sell_price" jdbcType="REAL" property="sellPrice" />
    <result column="market_price" jdbcType="REAL" property="marketPrice" />
    <result column="up_time" jdbcType="TIMESTAMP" property="upTime" />
    <result column="down_time" jdbcType="TIMESTAMP" property="downTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="store_nums" jdbcType="INTEGER" property="storeNums" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="tag_ids" jdbcType="VARCHAR" property="tagIds" />
    <result column="weight" jdbcType="REAL" property="weight" />
    <result column="point" jdbcType="INTEGER" property="point" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="visit" jdbcType="INTEGER" property="visit" />
    <result column="favorite" jdbcType="INTEGER" property="favorite" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="list_img" jdbcType="VARCHAR" property="listImg" />
    <result column="small_img" jdbcType="VARCHAR" property="smallImg" />
    <result column="exp" jdbcType="INTEGER" property="exp" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="spec_array" jdbcType="LONGVARCHAR" property="specArray" />
    <result column="categorynames" jdbcType="VARCHAR" property="categorynames" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandname" />
  </resultMap>
  <select id="getCount" resultType="INTEGER">
  	select count(id) as coun from shop_goods where is_del = 0
  </select>
  <select id="getTotalFilterGoods" resultType="INTEGER">
  	select count(id) as coun from shop_goods WHERE 1  
  	<choose>
	 	<when test="is_del!=0">
	 		and is_del = #{isdel}
	 	</when>
	 	<otherwise>
	 		and is_del = 0
	 	</otherwise>
	 </choose>
	 <choose>
	 	<when test="store_nums==1">
	 		goods.store_nums <![CDATA["<="]]> 0 
	 	</when>
	 	<when test="store_nums==10">
	 		goods.store_nums <![CDATA["<"]]> 10 
	 	</when>
	 	<when test="store_nums==100">
	 		goods.store_nums <![CDATA[">"]]> 10 and goods.store_nums <![CDATA["<"]]> 100 
	 	</when>
	 	<when test="store_nums==101">
	 		goods.store_nums <![CDATA[">"]]> 100 
	 	</when>
	 </choose>
	 <if test="commend!=0">
	 	and cg.commend_id = #{commend}
	 </if>
	 <if test="categoryids!=null">
	 	and #{categoryids}
	 </if>
  </select>
  <select id="loadGoodsFilterGoods" resultMap="ShopGoodsResult" >
	  	SELECT DISTINCT
		goods.id,
		goods.`name`,
		goods.sell_price,
		goods.market_price,
		goods.store_nums,
		goods.weight,
		goods.sort,
		goods.is_del,
		brand.category_ids,
		brand.`name` AS brand_name ,
		(select GROUP_CONCAT(cd.`name`) from shop_category_extend as ce left join shop_category as cd on cd.id = ce.category_id where goods_id = goods.id ) categorynames 
	FROM
		shop_goods goods
	LEFT JOIN shop_brand AS brand ON goods.brand_id = brand.id 
	<if test="commend!=0">
	left join shop_commend_goods as cg on cg.goods_id = goods.id 
	</if>
	WHERE 1  
	 <choose>
	 	<when test="is_del!=0">
	 		and is_del = #{isdel}
	 	</when>
	 	<otherwise>
	 		and is_del = 0
	 	</otherwise>
	 </choose>
	 <choose>
	 	<when test="store_nums==1">
	 		goods.store_nums <![CDATA["<="]]> 0 
	 	</when>
	 	<when test="store_nums==10">
	 		goods.store_nums <![CDATA["<"]]> 10 
	 	</when>
	 	<when test="store_nums==100">
	 		goods.store_nums <![CDATA[">"]]> 10 and goods.store_nums <![CDATA["<"]]> 100 
	 	</when>
	 	<when test="store_nums==101">
	 		goods.store_nums <![CDATA[">"]]> 100 
	 	</when>
	 </choose>
	 <if test="commend!=0">
	 	and cg.commend_id = #{commend}
	 </if>
	 <if test="categoryids!=null">
	 	and #{categoryids}
	 </if>
	ORDER BY
		sort ASC,
		id DESC 
		limit #{start},#{rows}
  </select>
</mapper>