<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.MerchshipinfoMapper">
	<resultMap id="ShopMerchShipInfoResult" type="com.shop.model.ShopMerchShipInfo">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="ship_name" jdbcType="VARCHAR" property="shipName" />
		<result column="ship_user_name" jdbcType="VARCHAR" property="shipUserName" />
		<result column="sex" jdbcType="BIT" property="sex" />
		<result column="country" jdbcType="INTEGER" property="country" />
		<result column="province" jdbcType="INTEGER" property="province" />
		<result column="city" jdbcType="INTEGER" property="city" />
		<result column="area" jdbcType="INTEGER" property="area" />
		<result column="postcode" jdbcType="INTEGER" property="postcode" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="telphone" jdbcType="VARCHAR" property="telphone" />
		<result column="is_default" jdbcType="BIT" property="isDefault" />
		<result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
		<result column="is_del" jdbcType="BIT" property="isDel" />
		<result column="note" jdbcType="LONGVARCHAR" property="note" />
	</resultMap>
	<select id="getTotal" resultType="INTEGER" >
		select count(id) from shop_merch_ship_info where is_del = #{if_del} order by id desc
	</select>
	<select id="loadList" resultMap="ShopMerchShipInfoResult">
		select * from shop_merch_ship_info where is_del = #{if_del} order by id desc limit #{start},#{rows}
	</select>
</mapper>