<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.RefundmentdocMapper">
  <resultMap id="ShopRefundmentDocResult" type="com.shop.model.ShopRefundmentDoc">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="amount" jdbcType="REAL" property="amount" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="refundment_type" jdbcType="BIT" property="refundmentType" />
    <result column="refundment_username" jdbcType="VARCHAR" property="refundmentUsername" />
    <result column="refundment_name" jdbcType="VARCHAR" property="refundmentName" />
    <result column="refundment_account" jdbcType="VARCHAR" property="refundmentAccount" />
    <result column="refundment_bank" jdbcType="INTEGER" property="refundmentBank" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="pay_status" jdbcType="TINYINT" property="payStatus" />
    <result column="dispose_time" jdbcType="TIMESTAMP" property="disposeTime" />
    <result column="if_del" jdbcType="TINYINT" property="ifDel" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="bank_time" jdbcType="TIMESTAMP" property="bankTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="dispose_idea" jdbcType="LONGVARCHAR" property="disposeIdea" />
    <result column="true_name" jdbcType="VARCHAR" property="truename" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="order_no" jdbcType="VARCHAR" property="orderno" />
  </resultMap>
  <select id="getTotal" resultType="INTEGER" >
	SELECT
		count(c.id) 
	FROM
		shop_refundment_doc AS c
	WHERE
		c.if_del = #{if_del}
  </select>
  <select id="loadList" resultMap="ShopRefundmentDocResult">
	SELECT
		c.id,
		c.order_no,
		c.content,
		c.refundment_type,
		c.time,
		c.pay_status
	FROM
		shop_refundment_doc AS c
	WHERE
		c.if_del = #{if_del}
	ORDER BY
		c.id DESC 
	limit #{start},#{rows} 
  </select>
</mapper>