<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.SpecphotoMapper">
	<resultMap id="SpecPhotoResult" type="com.shop.model.ShopSpecPhoto">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>
	<select id="getTotal" resultType="INTEGER">
		select count(id) coun from shop_spec_photo 
	</select>
	<select id="loadModel" resultMap="SpecPhotoResult">
		select *,address as src from shop_spec_photo ORDER BY create_time desc limit #{start},#{rows}
	</select>
</mapper>