<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.WithdrawMapper">
  <resultMap id="ShopWithdrawResult" type="com.shop.model.ShopWithdraw">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="amount" jdbcType="REAL" property="amount" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="account_bank" jdbcType="VARCHAR" property="accountBank" />
    <result column="belong_bank" jdbcType="VARCHAR" property="belongBank" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="re_note" jdbcType="VARCHAR" property="reNote" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
  </resultMap>
  <select id="getTotal" resultType="INTEGER" >
  	select count(id) from shop_withdraw where is_del = 0
  </select>
  <select id="loadWithdraw" resultMap="ShopWithdrawResult">
  	select * from shop_withdraw where is_del = 0 limit #{start},#{rows}
  </select>
</mapper>